{{#each mySongs}}
<div class="song" id="{{_id}}">
    <h5>Title: {{title}}</h5>
    <h5>Artist: {{artist}}</h5>
    <img class="cover" src="{{imageURL}}" />
    <p>Likes: {{likes}}; Listened {{listen}} times</p>
    <a href="#/remove"><button type="button" class="btn btn-danger mt-4">Remove</button></a>
    <a href="#/listen"><button type="button" class="btn btn-success mt-4">Listen</button></a>
</div>
{{/each}}