{{> header}}

<div id="detailsMovie">
    <h1>Details</h1>
    <div class="movie">
        <h2>Title: {{movie.title}}</h2>
        <img src="{{movie.imageUrl}}">
        <p>{{movie.description}}</p>
        <h2>Genres</h2>
        <ul class="genres">
            <li>{{movie.genres}}</li>
        </ul>
        <p>Available Tickets: {{movie.tickets}}</p>
        <button><a href="#/buyticket/{{movie._id}}">Buy Ticket</a></button>
    </div>
</div>

{{> footer}}